

.center {
  width: 1000px;
  margin-left: 20%;
  margin-top: -300px; 

}
section a {
  background: #fff;
  color: #000;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  display: block;
  font-size: 1.3em;
  letter-spacing: 3px;
  overflow: hidden;
  border-bottom: 3px solid #aaa69d;
}
section p {
  padding: 10px;
  overflow: hidden;
  height: 0;
  opacity: 0;
  background: #27ae60;
  color: #fff;
  overflow: hidden;
  letter-spacing: 2px;
  transition: 0.5s;
}
section:target p {
  height: 10em;
  opacity: 1;
  padding: 20px;
}
.button-container { 
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

button { 
    cursor: pointer;
    font-size: 1.2rem;
    height: 2.5rem; 
    border: none; 
    border-radius: 10px;
    color: white;
    background: #333; 
    outline: none;
    padding: 0.5rem 1.8rem; 
    box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65);
}

button:hover { 
    filter: brightness(1.1);
}

button:active { 
    transform: translate(0, 0.3rem);
    box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}



@media (max-width: 600px) {
  .center {
    width: 100%;
    margin-top: 0; 
    margin-left: 0;
  }
}

