body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


header {
  background-image: url("../images/banner.jpeg");
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav.left-nav {
  background-color: #333;
  color: #fff;
  height: 100%;
  width: 10rem;
}

nav.left-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav.left-nav li {
  margin: 1rem 0;
}

nav.left-nav a {
  color: #fff;
  text-decoration: none;
}

main {
  margin: 2rem auto;
  max-width: 800px;
  padding: 0 1rem;
  flex: 1; /* allow main content to grow to fill remaining space */
  display: flex;
}

section {
  margin-bottom: 2rem;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
}

footer {
  background-image: url("../images/banner.jpeg");
  background-size: cover;
  color: #fff;
  padding: 1rem;
  text-align: center;
  position: static;
  bottom: 0;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }

  nav li {
    margin: 0.5rem 0;
  }

  nav.left-nav {
    position: fixed;
    top: 0;
    left: -10rem;
    transition: left 0.3s ease;
  }

  main {
    margin-left: 0;
  }

  body.menu-open nav.left-nav {
    left: 0;
  }
}
