/* navbar  */ 
nav {
    margin: 0;
    text-align: left;
	height: 31px;
	padding: 10px;
	text-decoration: none; 
}

a {
    color: black; 
    font-size: 21px;
}

/* Body  */ 
body {
    width: 100%; 
    height: 100%;
	background: rgb(126,155,170);
	background: linear-gradient(180deg, rgba(126,155,170,1) 0%, rgba(255,255,255,1) 94%, rgba(255,255,255,1) 100%);
    margin: 0;
    margin-bottom: 10px; 
}

/* Image and Icons */ 
aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 70px;
    right: 0;
    width: 200px;
    margin-right: 2rem;
    z-index: 1;
}

img {
    width: 200px; 
    margin-top: 5px;
    border-radius: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    border: 5px solid white;
	margin-right: 100px; 
}

.social-media-icons {
    display: flex;
    list-style: none;
    padding: 0;
	margin-right: 100px; 
}

.social-media-icons li {
    margin-right: 1rem;
    margin-left: 1rem;
}

.social-media-icons a {
    color: #000;
}

/* intro header */ 

.hiname { 
	text-align: center;
	padding-top: 100px;
	margin-inline-start: 35px;
	margin-left: 0px;
	padding-right: 200px; 
	} 

.hiname h1{
	font-size: 40pt;
	text-shadow: 2px 6px 20px;
}

.hiname p { 
	font-size: 17pt;
	font-family: cursive;

}

hr {
    height: 2px;
    background-color: #000000;
    border: none;
    margin: 20px 0;
}


/* welcome */ 
section {
    margin-top: 200px;
    margin-left: 20px;
	margin-right: 20px;
    position: relative; 
	border-bottom-left-radius: 30px; 
	border-bottom-right-radius: 30px; 
	border-top-left-radius: 95px; 
	border-top-right-radius: 95px; 
}

section h1{ 
	padding-top: 20px; 
    text-align: center;
    font-size: 30pt;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"; 
}

section p { 
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	padding-left: 20px;
	padding-right: 20px;
	font-size: 14pt; 
}

/* About */ 

main{
	margin-top: 5rem; 
    margin-left: 10px;
	position: relative;
	border-bottom-left-radius: 30px; 
	border-bottom-right-radius: 30px; 
	border-top-left-radius: 95px; 
	border-top-right-radius: 95px; 
}

main h1 {
	padding-top: 20px;
    text-align: center; 
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 30pt;
	
}

main p { 
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"; 
    font-size: 14pt;
	padding-left: 20px;
	padding-right: 20px; 
}


/* Footer */ 

footer {
	margin-top: 40px; 
	margin-bottom: 0; 
    text-align: center; 
    height: 60px; /* decrease the height of the footer */
    display: flex; 
    align-items: center; 
    justify-content: center; 
    position: static; /* make the footer fixed in position */
    width: 100%; /* set the width to 100% */
}
