ul.o {
    list-style-type: circle;
    display: inline;
  }
  
  ul.b {
    list-style-type: square;

  }
  
  ol.c {
    list-style-type: upper-roman;
  }
  
  ol.d {
    list-style-type: lower-alpha;
  }  

  .ub {
    border-bottom: 3px solid green; 
  } 

    .ub2 {
        border-bottom: 3px solid rgba(0, 128, 0, 0.447); 
    }

    .dot lin { 
        display: inline; 
        list-style-type: square;
    }




  